*{margin: 0px;
font-family: 'Times New Roman', Times, serif;
}

h1{color: cadetblue;
text-align: center;
height: 50px;
width: auto;}

body{background-color: darkolivegreen;}

div{color: rgba(0, 0, 0, 0.80);
a{color: rgba(0, 0, 0, 0.80);
margin-right: 25px;}
display: flex;
}
.navlogo{
    background-image: url(THINK\ LOGO.jpg);
height: 100px;
width: 100px;
background-size: cover;
margin-right: 20px;

}
